@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
  font-family: logo;
  src: url(../font/SuperMarioBros2.ttf);
}

body {
  font-family: 'patrick hand', cursive;
  padding: 0;
}

h1 {
  margin: auto;
  font-family: logo;
  font-size: 25pt;
  padding: 1%;
  max-width: 95%;
  text-align: center;
  border: outset 2px #444;
  background: #4290d8;
  border-radius: 100px;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.header {
  padding-top: 20px;
  color: #f5dfbb;
  margin: auto;
  line-height: 50px;
}

canvas {
  width: 160px;
  height: 160px;
  border-radius: 15px;
  border: 5px solid #444;
  margin-bottom: 10px;
}

#avatar-image {
  width: 160px;
  height: 160px;
  border-radius: 15px;
  border: 5px solid #444;
  margin-bottom: 10px;
}

#profile-page {
  padding: 3%;
  margin: 3%;
  border-radius: 20px;
  border: 2px solid #444;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(245, 223, 187, 1) 40%,
    rgba(245, 223, 187, 1) 100%
  );
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  align-items: center;
}

#avatar {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 15% 15%;
  justify-items: center;
  margin-top: -10px;
}

.changeAvatar {
  background-color: #4290d8;
  font-family: 'patrick hand', cursive;
  border: none;
  font-weight: bold;
  font-size: 15pt;
  color: #f5dfbb;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}

#user-information {
  display: grid;
  grid-template-columns: 100%;
  margin: -20px 0 40px 35px;
}

input {
  border: 2px solid #4290d8;
  border-radius: 4px;
  width: 65%;
}

input:focus {
  background-color: #4290d8;
}

label {
  font-size: 15pt;
}

.profile-button {
  background-color: #4290d8;
  border: none;
  font-weight: bold;
  font-size: 14pt;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}

.changeAvatar:hover {
  background-color: #49beaa;
}

.profile-button:hover {
  background-color: #49beaa;
}

#profile-status-message {
  background-color: white;
}

p {
  text-align: center;
  margin: 5px 0 30px 140px;
  border: outset 2px black;
  background: #4290d8;
  border-radius: 20px;
  width: 40%;
}

#avatar-input {
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20pt;
  }

  #profile-page {
    padding: 3%;
    margin: 3%;
    border-radius: 20px;
    border: 2px solid #444;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(245, 223, 187, 1) 50%,
      rgba(245, 223, 187, 1) 100%
    );
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    align-items: center;
  }

  #user-information {
    margin-top: 20px;
    justify-items: center;
  }

  h2 {
    margin-top: 35px;
  }

  input[type="text"] {
    border: 2px solid #4290d8;
    border-radius: 4px;
    width: 50%;
  }

  #password {
    margin-bottom: 20px;
  }

  input {
    width: 50%;
  }

  p {
    margin: 0 30px 10px 10px;
  }
  
}
