@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'patrick hand', cursive;
}

.page-title-container {
    display: flex;
    align-items: center;
}

.title-question,
.title-choice {
    display: flex;
    align-items: flex-end;
    padding-left: 4%;
    border-bottom: #94cbff solid;
}

.title-container {
    border-radius: 10px 10px 0px 0px;
    background-color: #94cbff;
    padding: 1% 2% 1% 2%;
}

.question-card {
    margin: 2% 5% 2% 5%;
    padding: 2%;
    border: 1px solid #94cbff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 10% 80% 5% 5%;
}

.question-card img {
    width: 50%;
}

.question-card:hover {
    box-shadow: 0px 0px 12px #94cbff;
}

.adding {
    margin: 2% 5% 2% 5%;
    padding: 2%;
    background: linear-gradient(60deg, #61b0f9 0%, #94cbff 100%);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.adding img {
    width: 3%;
}

.modal-container {
    padding: 2%;
    background-color: #61b0f9;
    border-radius: 20px;
}

.large-input {
    width: 50vw;
    height: 30vh;
    resize: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15pt;
    border-radius: 20px;
    border: darkgray solid;
    padding: 2%;
}

.modal-button {
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    border: #61b0f9 solid;
    cursor: pointer;
}

.modal-button-primary {
    background-color: #61b0f9;
    border-radius: 15px;
    padding: 2%;
    border: #61b0f9 solid;
    cursor: pointer;
}

.modal-button:hover, .modal-button-primary:hover {
    box-shadow: 0px 0px 5px #61b0f9;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container table {
    width: 100%;
}

.input-container td {
    padding: 2%;
}

.input-container input {
    width: 30vw;
    height: 3vh;
    font-size: medium;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    border: darkgrey solid;
}

#info {
    font-size: 15pt;
}

.edit-icon {
    cursor: pointer;
}

/*For modal*/
.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap .modal {
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
}

.modal-wrap .modal img {
    width: 10%;
    height: auto;
    margin-bottom: 16px;
}

.modal-wrap .modal p:nth-child(2) {
    font-size: 24px;
    margin-bottom: 16px;
}

.display-none {
    display: none;
}

@media screen and (max-width: 800px) {
    .container {
        display: grid;
        grid-auto-rows: min-content;
    }

    .page-title {
        display: none;
    }

    #welcome {
        padding: 5%;
        font-size: 15pt;
    }

    .title-question {
        height: min-content;
        grid-area: 1 / 1 / span 1 / span 1;
        position: sticky;
        top: 0;
        background-color: white;
    }

    .question-column {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .title-choice {
        height: min-content;
        grid-area: 3 / 1 / span 1 / span 1;
        position: sticky;
        top: 0;
        background-color: white;
    }

    .choice-column {
        grid-area: 4 / 1 / span 1 / span 1;
    }
}

@media screen and (min-width: 801px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50vw 50vw;
    }

    .page-title {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    #welcome {
        margin: 2%;
        font-size: 18pt;
        /* height: 300px; */
    }

    .title-question {
        position: sticky;
        top: 0;
        background-color: white;
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .title-choice {
        position: sticky;
        top: 0;
        background-color: white;
        grid-area: 2 / 2 / span 1 / span 1;
    }

    .question-column {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .choice-column {
        grid-area: 3 / 2 / span 1 / span 1;
    }
}