@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html, body {
  background-color: beige;
  margin: 0em;
  padding: 1em;
}

body {
  font-family: 'patrick hand', cursive;
  font-size: 18pt;
}

img {
  display: block;
  margin: 0px auto;
  width: 35%;
  height: auto;
}
