@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
  font-family: logo;
  src: url(../font/SuperMarioBros2.ttf);
}

* {
    padding-left: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'patrick hand', cursive;
    padding: 0;
}

h1 {
    margin: auto;
    font-family: logo;
    padding: 1%;
    max-width: 95%;
    text-align: center;
    border: outset 2px #444;
    background: #4290D8;
    border-radius: 100px;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.header {
    padding-top: 20px;
    color: #F5DFBB;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 0px;

}

.timeline-content{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.decision-count{
    font-family: 'patrick hand', cursive;
    color: wheat;
    border: none;
}

.decision-content{
    font-family: 'patrick hand', cursive;
    color: white;
    font-size: 18pt;
    padding: 2%;
    text-align: center; 
}

.selected-choice{
    text-align: center;
    font-size: 15pt;
    font-family: 'patrick hand', cursive;
    color: white;
    line-height: 37px;
}

.points{
    font-family: 'patrick hand', cursive;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.ulist{
    list-style: none;
    border-radius: 10px;
    margin-top: 10px;
}

.list{
    padding: 20px;
    background-color: #4290D8;
    border-radius: 10px;
    margin-top:10px;
    border: 5px solid #333;
}

.on-going-game {
    display: grid;
    place-items: center;
    margin: 3%;
}

.on-going-game-container {
    width: 90%;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0.5);
    padding: 3% 4% 3% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-going-game-container img {
    height: 25px;
}

/*For env and com indicators*/
.status {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2%;
}

.status-container {
    display: flex;
    align-items: center;
}

.status img {
    display: inline-block;
    max-width: 30px;
}

.indicator-container {
    width: 80%;
    height: 25px;
    border-radius: 25px;
    background: #eee;
}
.indicator {
    height: inherit;
    border-radius: 25px;
    background: linear-gradient(60deg, #4290D8 0%, #74ade3 100%);
}

.score-change {
    font-size: 14pt;
}

.current-score {
    font-size: 14pt;
    position: inherit;
    color: #014a8f;
}

#env-meter{
    width: 50%;
}
#com-meter{
    width: 50%;
}

/*For modal*/
.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap .modal {
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
}

.modal-wrap .modal img {
    width: 10%;
    height: auto;
    margin-bottom: 16px;
}

.modal-wrap .modal p:nth-child(2) {
    font-size: 24px;
    margin-bottom: 16px;
}

.modal-button {
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    border: #4290D8 solid;
    cursor: pointer;
}

.modal-button:hover {
    box-shadow: 0px 0px 5px #4290D8;
}

.display-none {
    display: none;
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 20pt;
    }

    .timeline-content ul li {
        width: 50%;
        margin-top: -5px;
        margin-bottom: 15px;
        position: relative;

    }

    .timeline-content ul li:nth-child(odd) {
        transform: translateX(-20%);
        cursor: pointer;
        float: left;
        clear: right;
    }

    .timeline-content ul li:nth-child(even) {
        transform: translateX(20%);
        cursor: pointer;
        float: right;
        clear: left;
    }

    .timeline-content ul li:hover:after{
        background-color: #3476b4;
        cursor: pointer;
    }

    .content:hover {
        transform: scale(1.05);
    }

    .timeline-content::before {
        content: '';
        height: 100%;
        width: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        background-color: wheat;
    }

    .timeline-content ul li::after {
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        background-color: gray;
        border-radius: 50%;
        top: -10px;
    }

    .timeline-content ul li:nth-child(odd)::after {
        right: -85px;
        transform: translate(50%, -50%);
        position: fixed;
    }

    .timeline-content ul li:nth-child(even)::after {
        left: -85px;
        transform: translate(-50%, 50%);
        position: fixed;
    }

    .timeline-content ul li:nth-child(even)::before {
        content: '';
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
        left: -19px;
        border: medium solid white;
        border-width: 15px 15px 15px 0;
        border-color: transparent #333 transparent transparent;
    }

    .timeline-content ul li:nth-child(odd)::before {
        content: '';
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
        left: 394px;
        border: medium solid white;
        border-width: 15px 15px 15px 15px;
        border-color: transparent transparent transparent #333;
    }

    .on-going-game {
        display: grid;
        place-items: center;
        margin: 3%;
    }
    
    .on-going-game-container {
        width: 55%;
        border-radius: 20px;
        background-color: rgba(238, 238, 238, 0.5);
        padding: 3% 4% 3% 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .on-going-game-container img {
        height: 30px;
    }
}